@import "../node_modules/slick-carousel/slick/slick-theme.css"; 
@import "../node_modules/slick-carousel/slick/slick.css"; 

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: inter;
}

.liner {
  background: linear-gradient(
    165.03deg,
    #e2e7ff00 20%,
    #cccdd057,
    #e2e7ff00 93.97%
  );
  border: 1px solid rgba(255, 255, 255, 0.187);
  filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.1));
  border-radius: 33px;
}


.bg-h{
  background-image: url(assets/desktop.svg);
}

.accesse{
  background: linear-gradient(165.03deg, #E2E7FF 15.8%, rgba(226, 231, 255, 0) 93.97%);
border: 1px solid rgba(255, 255, 255, 0.54);
filter: drop-shadow(0px 0px 28px rgba(0, 0, 0, 0.1));
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.carousel-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.carousel-demo .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
